data/*
venv/*
.env
.streamlit/secrets.toml
**.pyc
__pycache__/*
utils/__pycache__/*
utils/__pycache__/**/*

utils/__pycache__/data_manager.cpython-313.pyc
utils/__pycache__/calculations.cpython-313.pyc
utils/__pycache__/__init__.cpython-313.pyc
